.nav-conteiner {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
}
.navigation {
  display: flex;
  align-items: center;
  color: white;
  padding: 1rem 0 1rem 2rem;
  font-size: 1.5rem;

}
.nav-icon {
  cursor: pointer;
}
.nav-close {
  display: none;
}
.nav-list {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
  margin-left: -60%;
  width: 60%;
  height: 100%;
  padding: 1rem 0 1rem 0rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.open .nav-list {
  margin-left: 0;
  text-indent: 2rem;
}
.open .nav-icon {
  margin-left: 61%;
  z-index: 1;
  display: flex;
  align-items: center;

}
.open .nav-close {
  display: flex;
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0;
  top: 0;
}
.nav-list ul {
  width: 100%;
}
.nav-list li {
  width: 100%;
  padding: 0.5rem 0;
}
.nav-list li:hover {
  background-color: #fff;
  color: black;
  cursor: pointer;
}
.nav-list li:hover a {
  color: #333;
}