.nav-conteiner {
  position: fixed;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  pointer-events: none;
}
.navigation {
  display: flex;
  align-items: center;
  color: white;
  padding: 1rem 0 1rem 2rem;
  font-size: 1.5rem;
  pointer-events: auto;

}
.nav-icon {
  cursor: pointer;
  text-shadow: 1px 1px 2px rgba(51, 51, 51, 0.5);
  transition: margin-left 0.3s ease;
}

.nav-close {
  display: none;
}
.nav-list {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #333;
  margin-left: -60%;
  width: 60%;
  height: 100%;
  padding: 1rem 0 1rem 0rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  transition: margin-left 0.3s ease;
}
.open .nav-list {
  margin-left: 0;
  text-indent: 2rem;
}
.open .nav-icon {
  margin-left: 61%;
  z-index: 1;
  display: flex;
  align-items: center;

}
.open .nav-close {
  display: flex;
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0;
  top: 0;
}
.nav-list ul {
  width: 100%;
}
.nav-list li {
  width: 100%;
  padding: 0.5rem 0;
  transition: transform 0.3s ease;
}
.nav-list li:hover {
  background-color: #fff;
  cursor: pointer;
  transform: scale(1.01);
  text-indent: 2.2rem;
}
.nav-list a:hover {
  color: #333;
}

.lang {
  position: absolute;
  top: 0.5rem;
  right: 2rem;
  cursor: pointer;
  transform: scale(1.2);
}
.lang img:hover {
  transform: scale(1.3);
}

/* Adicione esta seção para estilizar a classe 'active' */
.nav-list li.active {
  background-color: #fff;
  cursor: default;
  transform: scale(1.01);
  text-indent: 2.2rem;
}

.nav-list li.active a {
  color: #daa520;
}

