
.content {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.hero {
  height: 100vh;
  background-image: url(../images/mesa-trabalho.jpg)
  
}
.footer {
  background-color: #333;
  padding: 2rem 0;
}

.sec {
  height: 50vh;
  border-bottom: 1px solid black;
  border: 1px solid black;
}