/* responsivo */

@media only screen and (orientation: landscape) {
  .content {}

  /*
  .sec:nth-child(even) {
    flex-direction: row;
  }

  .sec:nth-child(odd) {
    flex-direction: row-reverse;
  }
*/
  .sec {
    flex-direction: row;
    position: relative;
  }

  .sec-a,
  .sec-b {
    width: 50%;
    height: 100%;
  }

  .mission .sec-a,
  .about .sec-a {
    position: absolute;
    left: 50%;
  }

  .mission .sec-b,
  .about .sec-b {
    position: absolute;
    left: 0;
  }


  /* ------------- */

  /* .contact.sec {
    flex-wrap: wrap;
  }*/
  .contact.sec {
    display: grid;
    grid-template-rows: 1fr 60px;
    grid-template-columns: 1fr 1fr;
  }

  .contact .sec-a,
  .contact .sec-b {
    width: 50vw;
  }

  .footer {
    grid-column: span 2;
  }

  /* ------------- */
  /* ------------- */
  p {
    font-size: 0.9rem;
    width: 40vw;
  }

  h2,
  h3 {
    font-size: 1.8rem;
  }

  .navigation {
    font-size: 1.6rem;
  }

  li {
    padding: 5px 0 3px 10px;
  }

  /**/

  .move-nav-icon {
    margin-left: 31%;
  }
  
  .nav-list {
    width: 30%;
    margin-left: -31%;
  }
  .move-nav-list {
    margin-left: 0%;
  }

  .nav-close {
    width: 70%;
    margin-right: -71%;
  }
  .move-nav-close {
    margin-right: 0%;
  }

  /**/



}



@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {}