html {
    width: 100vw;
    height: 100vh;
    font-size: 16px;
}
body {
    width: 100%;
    height: 100%;
    position: fixed;
}

.bug {background-color: #AABB22;} 
.dark {background-color: #4A4A52;} 
.dragon {background-color: #4B2BC4;} 
.electric {background-color: #F7E233;} 
.fairy {background-color: #EBA7C4;} 
.fighting {background-color: #B8282E;} 
.fire {background-color: #E96322;} 
.flying {background-color: #A0C9F0;} 
.ghost {background-color: #5F517A;} 
.grass {background-color: #4CAF50;} 
.ground {background-color: #C2A674;} 
.ice {background-color: #85D7F2;} 
.normal {background-color: #BDBDAA;} 
.poison {background-color: #9035A4;} 
.psychic {background-color: #F55A8A;} 
.rock {background-color: #77624E;} 
.steel {background-color: #A9A9B0;}
.water {background-color: #3177D9;}

.principal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

}
.cabecalho {
    height: 5rem;
    border-bottom: 1px solid black;
}
.pokedex {
    flex: 1;
}
.rodape {
    height: 5rem;
    border-top: 1px solid black;
}
nav {
    display: flex;
    flex-direction: column;
}
nav .buscarPokemon {
    width: 5rem;
    padding: 0.5rem;


}