* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
    user-select: none;
    outline: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
  }
  a:link {text-decoration: none;color: #fff;}
  a:visited {text-decoration: none; color: #fff;}
  a:hover {text-decoration: none;color: #fff;}
  a:active {text-decoration: none;color: #fff;}
  a:focus {text-decoration: none;color: #fff;}

  button {
    cursor: pointer;
  }

  hr {
    border: none; /* Certifica que não há borda padrão */
    height: 1px; /* Define a altura */
    background-color: #ccc; /* Adiciona uma cor de fundo */
    margin: 16px 0; /* Adiciona espaçamento vertical */
  }